<!DOCTYPE html>
<html layout:decorate="~{/layout/layout}">

<head>
    <title>장바구니</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-write container mx-auto">

        <div class="px-2 pt-4">
            <h1 class="font-bold text-lg">장바구니</h1>

            <ul>
                <li th:each="cartItem : ${cartItems}" class="flex items-center">
                    <a th:href="@{|/order/${cartItem.id}|}">
                        <span th:text="|품목 : ${cartItem.product.subject}|"></span>
                        <span th:text="|가격 : ${cartItem.product.price}|"></span>
                    </a>
                    <a onclick="deleteItemForm__Submit();" sec:authorize="isAuthenticated()">
                        <span>삭제하기</span>
                    </a>
                    <form id="deleteItemForm" th:action="@{|/cart/remove/${cartItem.id}|}" method="post" hidden></form>
                </li>
            </ul>

            <a onclick="OrderItemForm__Submit();" class="btn btn-sm btn-secondary" sec:authorize="isAuthenticated()">
                <span>주문하기</span>
            </a>
            <form id="orderItemForm" th:action="@{/order/create}" method="post" hidden></form>
            <a th:href="@{|/order/list|}" class="btn btn-sm btn-secondary">주문 목록</a>
        </div>
    </section>
</main>
</body>
</html>