<!DOCTYPE html>
<html layout:decorate="~{/layout/layout}">

<head>
    <title>주문 상세페이지</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-write container mx-auto">

        <div class="px-2 pt-4">
            <h1 class="font-bold text-lg">주문 상세페이지</h1>

            <div class="flex flex-col gap-3 mt-3">
                <div>
                    <div class="badge badge-primary">번호</div>

                    <div th:text="${order.id}"></div>
                </div>
                <div>
                    <div class="badge badge-primary">주문명</div>

                    <div th:text="${order.name}"></div>
                </div>
                <div>
                    <div class="badge badge-primary">주문자</div>

                    <div th:text="${order.member.username}"></div>
                </div>
                <div>
                    <div class="badge badge-primary">작성날짜</div>

                    <div th:text="${order.createDate}"></div>
                </div>
                <div>
                    <div class="badge badge-primary">결제 여부</div>

                    <div th:utext="${order.readyStatus}"></div>
                </div>
                <div>
                    <div class="badge badge-primary">결제날짜</div>

                    <div th:text="${order.payDate}"></div>
                </div>
                <div>
                    <div class="badge badge-primary">송금 여부</div>

                    <div th:text="${order.isPaid}"></div>
                </div>
                <div>
                    <div class="badge badge-primary">취소 여부</div>

                    <div th:text="${order.isCanceled}"></div>
                </div>
                <div>
                    <div class="badge badge-primary">환불 여부</div>

                    <div th:text="${order.isRefunded}"></div>
                </div>

            </div>
            <div class="py-3">
                <a th:href="@{|/order/list|}" class="btn btn-sm btn-secondary">목록</a>
                <a onclick="payItemForm__Submit();" class="btn btn-sm btn-secondary" sec:authorize="isAuthenticated()">
                    <span>결제하기</span>
                </a>
                <form id="payItemForm" th:action="@{|/order/${order.id}/pay|}" method="post" hidden></form>
                <a onclick="cancelItemForm__Submit();" class="btn btn-sm btn-secondary" sec:authorize="isAuthenticated()">
                    <span>주문취소</span>
                </a>
                <form id="cancelItemForm" th:action="@{|/order/${order.id}/cancel|}" method="post" hidden></form>
            </div>
        </div>
    </section>
</main>
</body>
</html>