<script>
    function ModifyPasswordForm__submit(form) {
        form.modifyPassword.value = form.modifyPassword.value.trim();

        if ( form.modifyPassword.value.length == 0 ) {
            alert("비밀번호를 입력해주세요.");
            form.modifyPassword.focus();
            return;
        }

        form.modifyPasswordConfirm.value = form.modifyPasswordConfirm.value.trim();

        if(form.modifyPasswordConfirm.value != form.modifyPassword.value) {
            alert("비밀번호가 틀립니다.");
            form.modifyPasswordConfirm.focus();
            return;
        }

        form.submit();
    }

</script>

<form th:action method="POST" onsubmit="ModifyPasswordForm__submit(this); return false;">
    <div>
        <span>현재 비밀번호</span>
        <input type="password" name="password">
    </div>
    <div>
        <span>변경할 비밀번호</span>
        <input type="password" name="modifyPassword">
    </div>
    <div>
        <span>비밀번호 확인</span>
        <input type="password" name="modifyPasswordConfirm">
    </div>
    <div>
        <span>변경하기</span>
        <input type="submit" value="변경하기">
    </div>
</form>