<!DOCTYPE html>
<html layout:decorate="~{/layout/layout}">
<head>
    <title>프로파일</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-login flex-grow flex flex-col items-center justify-center">

        <div class="max-w-md w-full px-2 pt-4">
            <h1 class="font-bold text-lg">프로필</h1>
            <div>아이디 : <span th:text="${loginedMember.username}"></span></div>
            <div>작가명 : <span th:text="${loginedMember.nickname}"></span></div>
            <div>이메일 : <span th:text="${loginedMember.email}"></span></div>
        </div>
    </section>
</main>
</body>
</html>